MarketSense-AI-Core.json
{
  "name": "MarketSense-AI-Core",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "strategy-brief",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e56789a5-6e49-4490-b3ce-33df79c17f7c",
      "name": "Webhook",
      "webhookId": "51955049-79a0-429d-8952-937de61f6f73"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=### ROLE\nYou are the Real Estate Intelligence Engine for MarketSense AI. Your goal is to provide institutional-grade strategy briefs based on raw property data.\n\n### INPUT DATA\nUser Question: {{ $node[\"Webhook\"].json[\"body\"][\"question\"] }}\nProperty Records (JSON): {{ $node[\"Aggregate\"].json[\"data\"] }}\n\n### TASK\n1. Analyze the provided property records for trends in pricing, square footage, and sales recency.\n2. Identify the \"Investment Vibe\" (e.g., Value-Add, Luxury Core, or Emerging Market).\n3. Extract specific metrics for the dashboard.\n\n### OUTPUT REQUIREMENTS\nRespond ONLY with a valid JSON object. Do not include markdown code blocks (no ```json). \n\n{\n  \"brief\": \"## Market Analysis: [City/State]\\n\\n### Investment Vibe\\n[1-2 sentences on the overall market sentiment].\\n\\n### Key Findings\\n- **Pricing:** [Insight on price per sqft or median price].\\n- **Inventory:** [Insight based on the number of rows provided].\\n- **Recent Activity:** [Mention the most recent 'prev_sold_date' found in the data].\\n\\n> Strategic Recommendation: [One sentence of high-level advice].\",\n  \"metrics\": [\n    {\"category\": \"Avg Listing Price\", \"value\": [Calculate Average of 'price' column]},\n    {\"category\": \"Recent Sales Found\", \"value\": [Count of rows with 'prev_sold_date']},\n    {\"category\": \"Median House Size\", \"value\": [Median of 'house_size']}\n  ]\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        592,
        0
      ],
      "id": "912f8453-704a-453b-8822-4fe12a6d6ae1",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "eQqHbnzqADtmsOy9",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM properties \nWHERE \n  (state ILIKE '{{ $node[\"Webhook\"].json[\"body\"][\"zipCode\"] }}' \n   OR city ILIKE '{{ $node[\"Webhook\"].json[\"body\"][\"zipCode\"] }}'\n   OR zip_code::text = '{{ $node[\"Webhook\"].json[\"body\"][\"zipCode\"] }}')\nLIMIT 50;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "1b473128-b84a-4073-9ea9-f0b8edde580c",
      "name": "Execute a SQL query",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "5YZMdur8rmwN7Wiw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "66700411-d3fc-44d0-a2b5-5fcb65c214b4",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dabdf265-e8c0-4f87-a28d-bcbb633d0e22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a928ea5c581d60be5bcb2bf3c5ddd8b62f5e1a87079bc58ce52adcbd61907397"
  },
  "id": "NzAHY7kjzREJ0RGU",
  "tags": []
}