MarketSense-AI-Core.json
{
  "name": "MarketSense-AI-Core",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "strategy-brief",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7354edd2-3253-470f-ae29-61ce073dcb3b",
      "name": "Webhook",
      "webhookId": "51955049-79a0-429d-8952-937de61f6f73"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/realtor_data_cleaned.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "8fc50764-74bb-4b52-bf32-ca3c2d8da0b2",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const zipInput = ($node[\"Webhook\"].json[\"body\"][\"zipCode\"] || \"\").toString().trim().toLowerCase();\nconst csvData = $node[\"Read Binary Files\"].json;\n\nlet filteredData = [];\nconst MAX_RESULTS = 50; // We only need 50 rows for Gemini\n\n// EFFICIENT FILTERING: Use a loop and 'break' so we don't process 2 million rows if we don't have to\nfor (const row of csvData) {\n  const zip = (row.zip_code || \"\").toString().toLowerCase();\n  const city = (row.city || \"\").toString().toLowerCase();\n  const state = (row.state || \"\").toString().toLowerCase();\n\n  if (!zipInput || zip === zipInput || city === zipInput || state === zipInput) {\n    filteredData.push(row);\n  }\n\n  // Stop once we have enough data to send to Gemini\n  if (filteredData.length >= MAX_RESULTS) break;\n}\n\nreturn {\n  market_data: filteredData,\n  match_count: filteredData.length,\n  search_term: zipInput || \"United States (General)\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "484ba67c-4517-4231-a031-36dd473ed519",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Answer this user question: {{ $node[\"Webhook\"].json[\"body\"][\"question\"] }}\n\nCRITICAL DATA NOTICE: \nThe market data provided below IS the actual row-level data from the dataset. \nDo NOT say you don't have access to the rows. \nLook at the `prev_sold_date` column in the provided data and find the most recent one.\n\nMarket Data: {{ $json.market_data }}\n\nCRITICAL INSTRUCTION:\nRespond with ONLY a raw JSON object. \nUse the \"brief\" field to answer the question directly. \nIf the question is about a date, find the largest (most recent) value in the `prev_sold_date` field."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "61ef815f-c636-4efb-a353-a6247318bc00",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "E6Ahk6YFUOZMtM6W",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "16e413af-29ce-48ca-b7d2-3b34ea985df3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67560758f34965d0065e7a844f4edfc9ab3de31e36d4f0bfe35aa221ec536164"
  },
  "id": "NdZBes2asyObHUM3",
  "tags": []
}