My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "strategy-brief",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0940ae80-c414-496f-8ed9-6ae68f60b8ca",
      "name": "Webhook",
      "webhookId": "51955049-79a0-429d-8952-937de61f6f73"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/realtor_data.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "04072ff3-9a77-4d9a-8c13-0eab108ac7fa",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst rawText = buffer.toString('utf8');\nconst shortData = rawText.split('\\n').slice(0, 10).join('\\n');\nreturn [{ json: { market_data: shortData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "7dffc973-e355-4f92-ad77-f18e2c53d6da",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a Real Estate Strategist. The user is asking: {{ $json.body.question }}.\nAnswer using this data: {{ $json.market_data }}.\nFormat with Markdown headers and bullets.\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "47e52f52-9796-40c8-a0cb-3b438eec24e7",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "Vo1XfzH9E5ODT362",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e35c5fb6-88ee-42b2-8a0f-382b6cee1070",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5095e85875c38bbdb261104b3efb3cd3947cf1d3eec482ba47f62a3d350977f4"
  },
  "id": "6JnEGww2qSX0Amsf",
  "tags": []
}